body {
    background-color: black;
    color:white;
}

a {
    color:red;
}

footer {
    position: fixed;
    bottom:0;
}

article {
    margin:0 0.5em 1em;
    margin-right:17em;
}

article p{
    line-height:1.5em;
}

.sidenote {
    display:block;
    color:red;
}