body {
    background-color: black;
    color:white;
}

a {
    color:red;
}

footer {
    position: fixed;
    bottom:0;
}

article {
    margin:0 0.5em 1em;
    margin-right:17em;
}

article p{
    line-height:1.5em;
}

.sidenote {
    margin:0.5em 0.25em 1em;
    display:block;
    background-color:white;
    color:black;
    padding:0.5em 0.5em 0.5em;
    font-style:italic;
    /* font-weight: bold; */
}